@model IEnumerable<ds3Wiki.Models.Type_of_magic>

@{
    ViewData["Title"] = "Types of magic";
}

<h1>Типы магии</h1>

<table class="table table-bordered table-light table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                Название
            </th>
            <th>
                Характеристика
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Character_characteristic.Title)
                </td>
                <td>
                    @if (User.IsInRole("admin") || User.IsInRole("moderator"))
                    {
                        <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                    }
                    <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id">Детали</a>

                </td>
                <td>
                    @if (User.IsInRole("admin"))
                    {
                        <a class="btn-close" asp-action="Delete" asp-route-id="@item.Id"></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@if (User.IsInRole("admin") || User.IsInRole("moderator"))
{
    <p>
        <a class="btn btn-dark" asp-action="Create">Создать</a>
    </p>
}
