@model ds3Wiki.Models.Armor

@{
    ViewData["Title"] = "Delete";
}

<h1>Удаление</h1>

<h3>вы уверены?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Physical_protection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Physical_protection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fire_protection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fire_protection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lightning_protection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lightning_protection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Magic_protection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Magic_protection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location.Title)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.Name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <a class="btn btn-dark" asp-action="Index">Вернуться</a>
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> 
    </form>
</div>
