@model ds3Wiki.Models.Armor

@{
    ViewData["Title"] = "Details";
}

<h1>Детали</h1>

<div>
    <h4>Броня</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Physical_protection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Physical_protection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fire_protection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fire_protection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lightning_protection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lightning_protection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Magic_protection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Magic_protection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character.Name)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-dark" asp-action="Index">Вернуться</a>
    @if (User.IsInRole("admin") || User.IsInRole("moderator"))
    {
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Изменить</a>
    }
</div>
