@model IEnumerable<ds3Wiki.Models.Armor>

@{
    ViewData["Title"] = "Armors";
}

<h1>Armors</h1>
@if (User.IsInRole("admin") || User.IsInRole("moderator"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Physical_protection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fire_protection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lightning_protection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Magic_protection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Character)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Physical_protection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fire_protection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lightning_protection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Magic_protection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Character.Name)
                </td>
                <td>
                    @if (User.IsInRole("admin") || User.IsInRole("moderator"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (User.IsInRole("admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
