@model IEnumerable<ds3Wiki.Models.Armor>

@{
    ViewData["Title"] = "Armors";
}

<h1>Броня</h1>

<table class="table table-bordered table-light table-striped table-hover">
    <thead  class="table-dark">
        <tr>
            <th>
                Название:
            </th>
            <th>
                Физическая защита:
            </th>
            <th>
                Огненная защита:
            </th>
            <th>
                Защита от молнии:
            </th>
            <th>
                Магическая защита:
            </th>
            <th>
                Локация:
            </th>
            <th>
                Персонаж:
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Physical_protection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fire_protection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lightning_protection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Magic_protection)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Character.Name)
                </td>
                <td>
                    @if (User.IsInRole("admin") || User.IsInRole("moderator"))
                    {
                        <a  class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                    }
                    <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id">Детали</a>
                    
                </td>
                <td>
                    @if (User.IsInRole("admin"))
                    {
                        <a class="btn-close" asp-action="Delete" asp-route-id="@item.Id"></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@if (User.IsInRole("admin") || User.IsInRole("moderator"))
{
    <p>
        <a class="btn btn-dark" asp-action="Create">Создать</a>
    </p>
}
