@model ds3Wiki.Models.Weapon

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Weapon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Types)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Types)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Damage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Damage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Distance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Distance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Support_for_improvement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Support_for_improvement)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("admin") || User.IsInRole("moderator"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
