@model IEnumerable<ds3Wiki.Models.Weapon>

@{
    ViewData["Title"] = "Weapons";
}

<h1>Weapons</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-secondary table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Types)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Damage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Support_for_improvement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Character)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Character_characteristic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Types)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Damage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Support_for_improvement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Character.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Character_characteristic.Title)
            </td>
            <td>
                @if (User.IsInRole("admin") || User.IsInRole("moderator"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                @if (User.IsInRole("admin"))
                {
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
