@model ds3Wiki.Models.Enemy

@{
    ViewData["Title"] = "Delete";
}

<h1>Удаление</h1>

<h3>вы уверены?</h3>
<div>
    <h4>Enemy</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Types)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Types)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Received_money)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Received_money)
        </dd>
    </dl>

    <form asp-action="Delete">
        <a class="btn btn-dark" asp-action="Index">Вернуться</a>
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
    </form>
</div>
