@model ds3Wiki.Models.Enemy

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Enemy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Types)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Types)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Received_money)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Received_money)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("admin") || User.IsInRole("moderator"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
