@model ds3Wiki.Models.Enemy

@{
    ViewData["Title"] = "Details";
}

<h1>Детали</h1>

<div>
    <h4>Противники</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Types)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Types)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Received_money)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Received_money)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-dark" asp-action="Index">Вернуться</a>
    @if (User.IsInRole("admin") || User.IsInRole("moderator"))
    {
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Изменить</a>
    }
</div>
