@model ds3Wiki.Models.Catalyst

@{
    ViewData["Title"] = "Details";
}

<h1>Детали</h1>

<div>
    <h4>Катализатор</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type_of_catalyst)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type_of_catalyst)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spell_Buff)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spell_Buff)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type_of_magic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type_of_magic.Title)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-dark" asp-action="Index">Вернуться</a>
    @if (User.IsInRole("admin") || User.IsInRole("moderator"))
    {
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Изменить</a>
    }
</div>

