@model IEnumerable<ds3Wiki.Models.Improvement_path>

@{
    ViewData["Title"] = "Improvement pathes";
}

<h1>Improvement pathes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Gem_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Advantages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disadvantage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Gem_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Advantages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disadvantage)
            </td>
            <td>
                @if (User.IsInRole("admin") || User.IsInRole("moderator"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                @if (User.IsInRole("admin"))
                {
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
